/** {
	border: 1px dashed red;
	min-height: 10px;
}*/
body {
	background: black;
	font-family: "Alkatra", cursive;
}
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
}
.postcard-header img {
	width: 50px;
	height: 50px;
	padding-top: 5px;
}
.postcard-header h1 {
	width: 320px;
	margin: 0;
	padding-left: 10px;
}
.postcard-body {
	display: flex;
}
.postcard-body p {
	font-size: 15px;
}
.body-left p:first-child {
	margin-top: 0;
}
.body-left,
.body-right {
	padding: 10px;
}
input {
	border: none;
	border-bottom: 1px solid gray;
	font-family: "Alkatra", cursive;
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: gray;
	padding: 3px;
	font-family: "Alkatra", cursive;
	border: gray solid 1px;
	cursor: pointer;
}
